.vs

bin
obj

Microsoft.Data.Sqlite/bin
Microsoft.Data.Sqlite/obj

MyContextMenu/bin
MyContextMenu/obj

MyModifiedIconOverlayHandler/bin
MyModifiedIconOverlayHandler/obj

MyNormalIconOverlayHandler/bin
MyNormalIconOverlayHandler/obj

MyUnversionedIconOverlayHandler/bin
MyUnversionedIconOverlayHandler/obj

SharpShell/bin
SharpShell/obj

SharpShell-demo/bin
SharpShell-demo/obj