.vs

.idea

bin
obj

Microsoft.Data.Sqlite/bin
Microsoft.Data.Sqlite/obj

MyContextMenu/bin
MyContextMenu/obj

MyDirectoryContextMenu/bin
MyDirectoryContextMenu/obj

MyIgnoredIconOverlayHandler/bin
MyIgnoredIconOverlayHandler/obj

MyModifiedIconOverlayHandler/bin
MyModifiedIconOverlayHandler/obj

MyNormalIconOverlayHandler/bin
MyNormalIconOverlayHandler/obj

MyUnversionedIconOverlayHandler/bin
MyUnversionedIconOverlayHandler/obj

MyRootIconOverlayhandler/bin
MyRootIconOverlayhandler/obj

SharpShell/bin
SharpShell/obj

SharpShell-demo/bin
SharpShell-demo/obj